variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.terraform.lock.hcl
*.tfvars
.terraform/
terraform.tfvars
*.retry
jdauphant.nginx
vault.key
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
Pipfile.lock
Pipfile
